@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.page-header {
  margin: 0 auto;
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  display: block;
  width: 138px;
  height: 65px;
  z-index: 1;
}

.logo-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation {
  display: flex;
  min-height: 45px;
  flex-wrap: wrap; 
  width: 1200px;
  padding: 10px 0;
  align-items: center;
}

.navigation-item {
  margin: 0;
  margin-right: 3px;
}

.navigation-item-icon {
  position: relative;
  margin-right: 5px;
  padding: 0;
}

.navigation-item-icon:nth-child(2) {
  margin-right: 21px;
}

.navigation-item-icon:hover .wishlist {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  max-width: 45%;
  margin: 0px 72px 0 57px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-item {
  width: 38px;
  height: 38px;
}

.navigation-link { 
  position: relative;
  display: block;
  padding: 6px 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link-active {
  text-decoration: underline;
  text-underline-offset: 22px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(117, 98, 87, 1);
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.navigation-link-icon {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  outline-offset: -3px;
}

 .navigation-link-icon:hover {
  fill: #756257;
}

.navigation-link-icon:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link-icon:active {
  outline: none;
}

.navigation-link-icon:active svg {
  opacity: 0.3;
}

.navigation-link-icon:active span {
  color: rgba(255, 255, 255, 0.3); 
}

.navigation-icon-search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.navigation-icon-wishlist {
  position: absolute;
  bottom: 0;
  left: 7px;
  right: 0;
  top: 10px;
}

.navigation-icon-wishlist-2 {
  position: absolute;
  top: 2px;
  left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  padding: 3px 4px;
  background-color: rgba(125, 181, 79, 1);
  background-size: 19px 19px;
  border-radius: 50%;
}

.navigation-link-button {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  background-color: rgba(117, 98, 87, 1);
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 5px 9px 5px;
  outline-offset: -1px;
  text-decoration: none;
}

.navigation-link-button:hover  {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-link-button:focus  {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.navigation-link-button:active  {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  position: relative;
  background-image: url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 78px;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("data:image/svg+xml,%3Csvg width='1200' height='57' viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
}

.description {
  margin: 0;
  text-align: center;  
  padding-top: 62px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 79px;
  box-sizing: border-box;
}

.description-title {
  margin: 0;
  margin-bottom: 32px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.description-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-item {
  position: relative;
  margin: 0;
  width: 400px;
  padding: 80px 90px;
  padding-top: 98px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
}

.sub-advantages-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap; 
  list-style-type: none;
  text-align: center;
}

.advantages-item-blue {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-photo {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item-white {
  position: relative;
  margin: 0;
  padding: 91px 80px;
  padding-top: 184px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-item-white::before {
  position: absolute;
  left: 163px;
  right: 163px;
  top: 90px;
  bottom: 223px;
  content: "";
  background-image: url("../img/index/icon-2.svg");
  background-repeat: no-repeat;
  }

.advantages-item-grey {
  position: relative;
  margin: 0;
  padding: 110px 84px;
  padding-top: 98px;
  color: rgba(51, 51, 51, 1);
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-item-grey-accommodation {
  position: relative;
  margin: 0;
  padding: 91px 90px;
  padding-top: 184px;
  color: rgba(51, 51, 51, 1);
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-item-grey-accommodation::before {
  position: absolute;
  left: 163px;
  right: 162px;
  top: 90px;
  bottom: 223px;
  content: "";
  background-image: url("../img/index/icon-1.svg");
  background-repeat: no-repeat;
}

.advantages-item-grey-souvenirs {
  position: relative;
  margin: 0;
  padding: 91px 90px;
  padding-top: 184px;
  color: rgba(51, 51, 51, 1);
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-item-grey-souvenirs::before {
  position: absolute;
  left: 168px;
  right: 168px;
  top: 85px;
  bottom: 223px;
  content: "";
  background-image: url("../img/index/icon-3.svg");
  background-repeat: no-repeat;
}

.advantages-item-lightblue { 
  position: relative;
  margin: 0;
  padding: 110px 85px;
  padding-top: 98px;
  color: rgba(51, 51, 51, 1);
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-title-sub {
  margin: 0;
  margin-bottom: 21px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-blue {
  margin: 0px;
  margin-bottom: 31px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description:last-child {
  margin-bottom: 0px;
}

.advantages-description {
  margin: 0;
  margin-bottom: 28px;
}

.advantages-description-blue {
  margin-top: 0;
  margin-bottom: 28px;
}

.advantages-description-blue:last-child {
  margin-bottom: 0;
}

.advantages-number {
  margin-bottom: 30px;
  display: block;
}

.advantages-number-blue {
  margin-bottom: 32px;
  display: block;
}

.search {
  margin: 0;
  padding-top: 90px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 91px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.search-title {
  margin-top: 0;
  margin-bottom: 31px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 57px;
}

.button-search {
  display: inline-block;
  width: 575px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(117, 98, 87, 1);
  box-sizing: border-box;
}

.button-search:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-search:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.button-search:active {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.form {
  margin: 0;
  padding: 94px 200px 94px 200px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/index/background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
}

.form-title {
  margin: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-description {
  margin: 0px;
  margin-bottom: 48px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe {
  text-align: center;
  display: flex;
  padding: 0;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
}

.button-subscribe:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-subscribe:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.button-subscribe:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.e-mail-form {
  font-family: "PT Sans", sans-serif;
  padding-left: 23px;
  width: 600px;
  height: 60px; 
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
}

.e-mail-form:hover {
  background-color: #E5E5E5;
}

.e-mail-form:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.e-mail-form:not(:placeholder-shown) {
  background: #FFFFFF;
  border: 2px solid #000000;
}

.e-mail-form:error:placeholder-shown {
  background: #FFFFFF;
  border: 2px solid #FF5757;
}

.page-footer {
  margin: 0 auto;
  width: 1200px;
}

.page-footer-container {
  color: #000000;
  display: flex;
  padding: 35px 72px 45px 72px;
  text-align: center;
}

.social-list {
  margin-left: -10px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
}

.footer-social-link {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  color: rgba(131, 179, 211, 1);
}

.footer-social-link:hover {
  color: rgba(104, 162, 202, 1);
}

.footer-social-link:focus {
  color: rgba(104, 162, 202, 1);
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 1);
  opacity: 0.3;
  outline: none;
}

.social-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.social-item {
  margin-right: 3px;
}

.social-item:nth-child(3) {
  margin-right: 0;
}

.footer-col-1 {
  width: 350px;
}

.phone {
  padding: 12px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.phone:hover {
  color: rgba(117, 98, 87, 1);
}

.phone:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.phone:active {
  color: rgba(117, 98, 87, 1);
  opacity: 0.3;
  outline: none;
}

.footer-col-2 {
  width: 356px;
  text-align: center;
}

.footer-col-3 {
  position: relative;
  width: 353px;
}

.footer-logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.footer-logo-link {
  position: absolute;
  top: -13px;
  left: 215px;
  display: block;
  width: 160px;
  height: 70px;
  outline-offset: -3px;
}

.footer-logo-link:hover {
  fill: rgba(117, 98, 87, 1);
}

.footer-logo-link:focus {
  fill: rgba(117, 98, 87, 1);
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-logo-link:active {
  opacity: 0.3;
  border: none;
  outline: none;
}

.hotels-inner {
  padding: 35px 72px 65px 72px;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
}

.title-inner {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  margin-top: -13px;
  margin-bottom: 41px;
  margin-left: -7px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link-home {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 28px;
  height: 27px;
  background-image: url("../img/catalog/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline-offset: 0px;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs-link-home::after {
  position: absolute;
  top: 10px;
  left: 31px;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/catalog/nav-link.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  padding: 3px 8px;
  margin-left: 10px;
  margin-top: 5px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.hotels-catalog {
  position: relative;
  display: flex;
}

.hotels-catalog-group-infrastructure {
  width: 214px;
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  margin-top: 13px;
  padding-left: 39px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control-input[type="checkbox"]:focus + span {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:focus + span {
  outline: 3px solid #83B3D3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:disabled + .control-mark {
  background-color: #ffffff;
}

.control-mark:focus {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11 0 4.5 7.4 1.1 3.5 0 4.7l4.5 5.2 7.7-8.6L11 0Z' fill='%233F5E72'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12.2v9.9H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-mark-radio:hover {
  background-color: rgba(255, 255, 255, 1);
}

.control-mark-radio:focus {
  outline: 3px solid #83B3D3;
}

.control-mark-radio:active {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.hotels-catalog-group-accommodation {
  width: 310px;
  margin: 0;
  padding: 0;
  border: none;
}

.hotels-catalog-group-price {
  width: 295px;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.range {
  margin-top: 18px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 0;
  width: 229px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
} 

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  left: 219px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}

.min-price {
  position: absolute;
  left: 112px;
  top: 12px;
  display: flex;
  margin-right: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  opacity: 0.3;
  z-index: 2;
}

.max-price {
  position: absolute;
  left: 250px;
  top: 12px;
  display: flex;
  margin-right: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  opacity: 0.3;
}

.catalog-filter-input {
  position: relative;
  width: 145px;
  height: 48px;
  padding-left: 18px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input::placeholder {
  color: #ffffff;
}

.min-input {
  border-right: none;
  width: 144px;
}

.max-input {
  border-radius: 0 4px 4px 0;
  width: 146px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.min-input:hover,
.min-input:focus {
  border-right: 2px solid rgba(255, 255, 255, 1);
  width: 146px;
}

.min-input:hover ~ .max-input,
.min-input:focus ~ .max-input {
  border-left: none;
  width: 144px;
}

.catalog-filter-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.min-input:focus {
  outline: 3px solid #81B3D2;
  outline-offset: -5px;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  z-index: 2;
}

.max-input:hover {
  width: 146px;
  box-sizing: border-box;
}

.max-input:focus {
  outline: 3px solid #81B3D2;
  outline-offset: -5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  width: 146px;
}

.min-input:hover ~ .max-input:focus {
  width: 146px;
  border-left: 2px solid rgba(255, 255, 255, 1);
  margin-left: -2px;
}

.catalog-filter-input:active {
  background: #756257;
}

.hotels-catalog-title {
  margin-bottom: 18px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.buttons-inner {
  margin-top: 60px;
  margin-left: auto;
  display: block;
}

.button-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
  padding: 14px 35px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:focus {
  outline: 3px solid #FFFFFF;
}

.button-submit:active {
  background-color: rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset {
  margin: 18px 37px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
  outline: none;
}

.hotels-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 43px 72px 43px 72px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.search-title-inner {
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.select-control {
  margin-right: 0px;
  padding-left: 17px;
  padding-right: 30px;
  width: 287px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  background-image: url("../img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.sorting-type {
  margin-left: auto;
}

.button-cards {
  margin-left: 80px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.button-cards:hover,
.button-cards:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.button-cards:active {
  outline: 2px solid #000000;
}

.button-big {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.button-big:hover,
.button-big:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.button-big:active {
  outline: 2px solid #000000;
}

.button-list {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.button-list:hover,
.button-list:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.button-list:active {
  outline: 2px solid #000000;
}

.catalog-list {
  position: relative;
  padding-left: 72px;
  padding-right: 72px;
}

.product-list {
  display: grid;
  margin: 0;
  padding: 0;
}

.product-card {
  list-style-type: none;
  display: grid;
  grid-template-columns: 180px 644px 160px;
  grid-column-gap: 36px;
  padding-top: 26px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.product-card:last-child{
  margin: 0;
}

.hotel-description {
  position: relative;
  grid-column: 2/3;
}

.details-wrapper {
  display: grid;
  grid-template-columns: 151px 160px 353px;
  grid-column-gap: 8px;
}

.details {
  width: 151px;
}

.link-title {
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-left: -5px;
}

.product-card-title-link {
  display: inline-block;
  padding: 0 5px;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.product-card-title-link:hover {
  color: rgba(117, 98, 87, 1);
}

.product-card-title-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
}

.product-card-title-link:active {
  opacity: 0.3;
  outline: none;
}

.product-card-description {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 34px;
}

.product-card-button-details {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  width: 151px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  box-sizing: border-box;
}

.product-card-button-details:hover {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-button-details:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.product-card-button-details:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.product-card-button-wishlist {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  width: 160px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  box-sizing: border-box;
}

.product-card-button-wishlist:hover {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid #756257;
  outline-offset: 0;
}

.product-card-button-wishlist:focus {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.product-card-button-wishlist:active {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
  outline-offset: 0;
}

.product-card-button-added {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  width: 160px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7DB54F;
  box-sizing: border-box;
}

.product-card-button-added:hover {
  background-color: rgba(108, 158, 66, 1);
}

.product-card-button-added:focus {
  background-color: rgba(108, 158, 66, 1);
  outline: 3px solid #756257;
  outline-offset: 0;
}

.product-card-button-added:active {
  background-color: rgba(108, 158, 66, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-more-wrapper {
  margin-top: 0;
  padding: 29px 216px 30px 215px;
  border-top: 1px solid #E6E6E6;
}

.button-more {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  width: 625px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-more:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-more:focus {
  outline: 3px solid rgba(117, 98, 87, 1);
  outline-offset: 0;
}

.button-more:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.product-card-image {
  display: block;
  grid-column: 1/2;
}

.product-card-link {
  margin-top: 4px;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.product-card-link:active {
  opacity: 0.3;
  outline: none;
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 6px;
  width: 160px;
  text-align: center;
  grid-column: 3/4;
}

.rating {
  text-transform: uppercase; 
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.pages {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
}

.list-pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pages-hotels {
  padding-top: 30px;
  display: flex;
}

ul.pagination {
  margin: 0;
}

.pagination {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 50%;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-current {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px 15px;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
}

.hotels-shown-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.hotels-shown {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control-hotels {
  margin-left: 51px;
  padding-left: 17px;
  padding-right: 30px;
  font-family: "PT Sans", sans-serif;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  appearance: none;
  background-image: url("../img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.select-control-hotels:hover,
.select-control-hotels:focus {
  outline: 2px solid #83B3D3;
  outline-offset: 0;
}

.select-control-hotels:active {
  opacity: 0.3;
  outline: none;
}

.form-inner {
  margin: 0;
  padding: 88px 200px 139px 200px;
  text-align: center;
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 10;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  width: 715px;
  height: 561px;
  color: rgba(0, 0, 0, 1);
  border-radius: 30px;
  background-color: #FFFFFF;
}

.modal-form {
  margin-left: 70px;
  margin-right: 70px;
}

.modal-title-wrapper {
  display: flex;
}

.modal-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-top: 38px;
  margin-bottom: 57px;
  margin-left: 67px;
  margin-right: 111px;
}

.close-button {
  position: absolute;
  left: 592px;
  top: 30px;
  width: 53px;
  height: 53px; 
  background-color: #F2F2F2;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgba(229, 229, 229, 1);
}

.close-button:focus {
  background-color: rgba(229, 229, 229, 1);
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.close-button:active {
  opacity: 0.3;
  outline: none;
}

.date-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date {
  padding-top: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.input-date {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  background-color: #F2F2F2;
  border: none;
  width: 420px;
  height: 50px;
  padding-left: 17px;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-date:hover {
  background-color: rgba(229, 229, 229, 1);
}

.input-date:focus {
  background-color: rgba(229, 229, 229, 1);
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.input-date:not(:placeholder-shown) {
  background: #FFFFFF;
  border: 2px solid #000000;
  outline-offset: 0;
  box-sizing: border-box;
}

.input-date:error:placeholder-shown + .arrival-date-description {
  color: rgba(255, 87, 87, 1);
}

.calendar {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 153px;
  right: 89px;
  background-image: url("../img/index/calendar.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendar:hover {
  opacity: 1;
}

.calendar:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
  outline-offset: 5px;
}

.calendar:active {
  opacity: 0.1;
  outline: none;
}

.calendar-2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 243px;
  right: 89px;
  background-image: url("../img/index/calendar.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendar-2:hover {
  opacity: 1;
}

.calendar-2:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
  outline-offset: 5px;
}

.calendar-2:active {
  opacity: 0.1;
  outline: none;
}

.arrival-date-description{
  display: block;
  color: rgba(255, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-left: 155px;
}

.departure-date-description {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-left: 155px;
}

.residents {
  display: flex;
}

.adults-wrapper {
  position: relative;
  margin-right: 56px;
  display: flex;
}

.adults {
  padding-top: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin-right: 73px;
}

.children {
  padding-top: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.number-modal {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  background-color: #F2F2F2;
  border: none;
  width: 133px;
  height: 50px;
  text-align: center;
  appearance: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.number-modal::-webkit-outer-spin-button,
.number-modal::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-modal:hover {
  background-color: rgba(229, 229, 229, 1);
}

.number-modal:focus {
  background-color: rgba(229, 229, 229, 1);
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.number-modal:active {
  background: #FFFFFF;
  outline: 2px solid #000000;
  outline-offset: 0;
  box-sizing: border-box;
}

.modal-input-button-min {
  position: absolute;
  top: 13px;
  left: 174px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.input-min {
  position: absolute;
  top: 12px;
  left: 6px;
  width: 13px;
  height: 1px;
  opacity: 0.3;
}

.modal-input-button-min:nth-child(2n) {
  left: 116px;
}

.modal-input-button-min:hover svg {
  opacity: 1;
}

.modal-input-button-min:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-input-button-min:focus svg {
  opacity: 1;
}

.modal-input-button-min:active {
  outline: none;
  opacity: 0.2;
}

.modal-input-button-plus {
  position: absolute;
  top: 15px;
  left: 185px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  opacity: 0.3;
}

.input-plus {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
}

.modal-input-button-plus:nth-child(2n)  {
  top: 13px;
  left: 250px;
}

.modal-input-button-plus:hover {
  opacity: 1;
}

.modal-input-button-plus:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-input-button-plus:focus svg {
  opacity: 1;
}

.modal-input-button-plus:active {
  outline: none;
  opacity: 0.2;
}

.children-wrapper {
  position: relative;
  display: flex;}

.info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  text-align: center;
  margin-left: 10px;
  margin-right: 18px;
  display: inline-block; 
  position: relative; 
  top: 15px;
}

.info:hover .tooltip {
  display: block;
}

.tooltip {
  position: absolute; 
  left: -114px; 
  top: 40px;
  z-index: 1;
  width: 216px;
  height: 110px;
  background-color: #333333; 
  color: #FFFFFF; 
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: none;
}

.info:hover::after {
  position: absolute;
  top: 42px;
  left: 5px;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: rgba(51, 51, 51, 1);
  transform: rotate(45deg) translate(-50%, -50%);
}

.info-text {
  color: #FFFFFF;
}

.modal-search {
  width: 575px;
  height: 60px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
}

.modal-search:hover {
  background-color: rgba(104, 162, 202, 1);
}

.modal-search:focus {
  outline: 3px solid rgba(117, 98, 87, 1);
  outline-offset: 0;
}

.modal-search:active {
  background-color: rgba(104, 162, 202, 1);
  opacity: 0.3;
  outline: none;
}

.wishlist {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 400px;
  z-index: 1;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: none;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);

}

.items-wrapper {
  border: 1px solid rgba(229, 229, 229, 1);
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 15px;
  padding-bottom: 6px;
}

.wishlist::before {
  position: absolute;
  top: 3px;
  left: calc(50% - 15px);
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(45deg) translate(-50%, -50%);
  border-left: 1px solid rgba(229, 229, 229, 1);
  border-top: 1px solid rgba(229, 229, 229, 1);
}

.wishlist-open {
  display: block;
}

.wish-item-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 13px;
  margin-right: 15px;
  padding-bottom: 6px;
  cursor: pointer;
}

.wish-item-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

.wish-item-link:hover {
  opacity: 0.6; 
}

.wish-item-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.wish-item-link:active {
  opacity: 0.3;
  outline: none; 
}

.wish-item {
  padding-left: 17px;
}

.wish-item-title {
  font-weight: bold;
  font-size: 18px;
}

.wish-item-description {
  display: block;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
}

.delete-icon {
  width: 36px;
  height: 36px;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url("../img/index/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delete-icon:hover {
  background-image: url("../img/index/delete-2.svg");
}

.delete-icon:focus {
  background-image: url("../img/index/delete-2.svg");
  outline: 3px solid #83B3D3;
  outline-offset: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.delete-icon:active {
  opacity: 0.1;
  outline: none;
}

.wishlist-all-button {
  display: inline-block;
  padding-top: 19px;
  width: 400px;
  height: 60px;
  border-radius: 0px 0px 20px 20px; 
  background-color: rgba(117, 98, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.wishlist-all-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.wishlist-all-button:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.wishlist-all-button:active {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
